.lateralBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #03001C;
    height: 100vh;
    width: 7%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px #03001C;
}

.menuNav{
    display: flex;
    margin: 30px;
    justify-content: center;
}

.lateralBar .icon{
    display: flex;
    font-size: 20px;
    color: #5B8FB9;
    transition: .3s all ease-in-out;
    &:hover{
        color: #B6EADA;
        border-radius: 25%;
    }
}

.lateralBar .iconActive{
    display: flex;
    font-size: 30px;
    padding: 10px 10px;
    color: #B6EADA;
    text-shadow: 0px 0px 10px 2px #B6EADA;
    transition: .3s all ease-in-out;
}

 .lateralBar .script{
    transition: .3s all ease-in-out;
}

.lateralBar .scriptActive{
    position: absolute;
    background-image: linear-gradient( -90deg, #5b8eb91a 25%, rgb(184, 234, 219));
    width: 50px; 
    height: 50px;
    border-radius: 25%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .3s all ease-out both;
}

@media(max-width:475px){
    .menu{
        justify-content: center;
        max-width: 100%;
        height: 10%;
    }
    .nav{
        justify-content: space-around;
        width: 100%;
        padding: 1%;
        margin: 0;
    }
    .navLink{
        padding: 1% 3%;
        border-radius: 7px;
        background-color: #03001C;
    }
    .navLinkActive{
        padding: 1% 3%;
        border-radius: 7px;
        background-color: #03001C;
    }
    .lateralBar{
        display: none;
    }
}