.menu{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 3% 0 0 50%;
}

.menu .navLink{
    margin-right: 25%;
    color: #5B8FB9;
    font-family: Roboto;
    text-decoration: none;
    &:focus{
        color: #B6EADA;
    }
}

.menuCircles{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    height: 90%;
}

.circles{
    display: flex;
    flex-direction: column;
    background-color: #5B8FB9;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 1rem;
    &:focus{
        background-color: #B6EADA;
    }
}