.menu{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 3% 0 0 50%;
}

.menu .navLink{
    margin-right: 25%;
    color: #5B8FB9;
    font-family: Roboto;
    text-decoration: none;
    &:focus{
        color: #B6EADA;
    }
}

.menuCircles{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 5%;
    justify-content: center;
    height: 91%;
    backdrop-filter: brightness(85%);
}

.circles{
    display: flex;
    flex-direction: column;
    background-color: #5B8FB9;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 1rem;
    &:focus{
        background-color: #B6EADA;
    }
}

@media(max-width:475px){
    .menu{
        max-width: 100%;
        justify-content: space-around;
        margin: auto;
        padding: 1rem;
        backdrop-filter: brightness(100%);
    }
    .menu .navLink{
        margin-right: 0;
        font-size: 16px;
        background-color: #03001C;
        padding: 10px;
        border: 1px solid #212121;
        border-radius: 10px;
        box-shadow: 1px 3px 1px #06012f,
                    -1px -1px 1px #5B8FB9;
    }
    .menuCircles{
        display: none;
    }
}