.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 2% 0;
    background-color: rgb(3, 0, 28, 0.2);
}

.nav{
    display: flex;  
    justify-content: space-between;
    width: 40%;
    margin: 0 0 0 50%;
}

.navLink{
    border-radius: 7%;
    color: #5B8FB9;
    font-family: Roboto;
    text-decoration: none;
    &:hover{
        color: #B6EADA;
        transition: all 0.3s ease;
    }
}

.navLinkActive {
    color: #B6EADA;
    font-family: Roboto;
    text-decoration: none;
}

.lateralBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 6%;
    justify-content: center;
}

.menuNav{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.lateralBar .icon{
    display: flex;
    flex-direction: column;
    color: #B6EADA;
    width: 40px;
    transition: .3s all ease-in-out;
}

.lateralBar .iconActive{
    color: #B6EADA;
    text-shadow: 0px 0px 10px 2px #B6EADA;
    display: flex;
    flex-direction: column;
    scale: 1.5;
    margin: 1rem;
    transition: .3s all ease-in-out;
}

 .lateralBar .script{
    display: flex;
    flex-direction: column;
    background-color: #5B8FB9;
    width: 20px;
    height: 2px;
    margin: 0.5rem;
    transition: .3s all ease-in-out;
}

.lateralBar .scriptActive{
    background-color: #B6EADA;
    -webkit-box-shadow: 0px 0px 10px 2px #B6EADA;
    -moz-box-shadow: 0px 0px 10px 2px #B6EADA;
    box-shadow: 0px 0px 10px 2px #B6EADA;
    width: 40px;
    height: 1px;
    margin: 0 0 0 1rem;
    transition: .3s all ease-in-out;
}

@media(max-width:475px){
    .menu{
        justify-content: center;
        max-width: 100%;
        height: 10%;
    }
    .nav{
        justify-content: space-around;
        width: 100%;
        padding: 1%;
        margin: 0;
    }
    .navLink{
        padding: 1% 3%;
        border-radius: 7px;
        background-color: #03001C;
    }
    .navLinkActive{
        padding: 1% 3%;
        border-radius: 7px;
        background-color: #03001C;
    }
    .lateralBar{
        display: none;
    }
}