.icons{
    display: flex;
    justify-content: center;
    margin: 33vh 0 0 0;
}

.typeIcons{
    margin: 0 5rem;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 5rem;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

@keyframes delayAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}