.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.typeIcons {
    margin: 0 5rem;
    background-color: transparent;
    border: none;
    font-size: 5rem;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.icon{
    color: rgb(230, 230, 230);
    opacity: 0.5;
    &:hover{
        animation: opacity 0.8s infinite alternate;
        cursor: pointer;
            }
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
  }


@keyframes delayAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width:500px){
    .icons-container{
        flex-direction: column;
        justify-content: center;
    }
    .typeIcons{
        margin: 30% 0;
    }
    .icon{
        opacity: 1;
    }
}