.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    min-height: 100vh;
    margin: auto;
}

.card-container-contact{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cardIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    overflow: hidden;
    background-color: rgb(255, 255, 255,0.02);
    backdrop-filter: blur(20px);
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.icon svg{
    bottom: 85px;
    font-size: 300px;
    color: #301E67;
}



@keyframes delayAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width:500px){
    .icons-container{
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }
    .typeIcons{
        margin: 10% 0;
    }
    .icon{
        opacity: 1;
    }
}