.homeSide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 9vw 0 0 0
}

.img{
    max-width: 20rem;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.titleHead h1{
    position: relative;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 40px;
    color: white;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.textHome{
    color: #B6EADA;
}

@keyframes delayAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}