.homeSide{
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 80vh;
}

.avatar{
    display: flex;
    justify-content: center;
    width: 50%;
}

.img{
    max-width: 450px;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.titleHead{
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 21px;
    color: white;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.titleHead p {
    padding: 15px 0;
    width: 90%;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    &:hover{
        opacity: 1;
        transition: all 0.2 ease-in-out;
    }
}

.textHome{
    color: #B6EADA;
}

.textContact{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 50%;
}

.iconsHome{
    font-size: 27px;
    color: #B6EADA;
    opacity: 1;
}

@keyframes delayAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width:500px){
    .homeSide{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }
    .img{
        position: inherit;
        max-width: 250px;
    }
    .titleHead{
        align-items: center;
        width: 90%;
        font-weight: 300;
    }
    .titleHead p{
        text-align: center;
        font-size: 16px;
    }
    .textContact{
        display: none;
    }
}