.homeSide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.img{
    position: relative;
    right: 50%;
    max-width: 350px;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.titleHead h1{
    position: relative;
    left: 2%;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 40px;
    color: white;
    animation-name: delayAnimation;
    animation-duration: 2s;
}

.textHome{
    color: #B6EADA;
}

@keyframes delayAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width:500px){
    .homeSide{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    .img{
        position: inherit;
        max-width: 250px;
    }
    .titleHead h1{
        position: inherit;
        text-align: center;
        font-size: 16px;
    }
}