/* Image.module.css */
.image {
  width: 60%;
  -webkit-mask-image: linear-gradient(black 80%, transparent);
  mask-image: radial-gradient(black 50%, transparent 72%);
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.icons_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 120%;
  &:hover{
    .icons_name{
      display: block;
      transition: all .3s ease-in-out;
    }
  }
}

.icons{
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    scale: 1.125;
  }
}

.icons_name{
  display: none;
  font-size: 14px;
  height: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media(max-width:768px){
  .icons_name{
    display: block;
  }
}
