.projectCard {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 80vh;
  margin: auto;
  animation-name: delayAnimation;
  animation-duration: 2s;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: 250px;
  border-radius: 10px;
  margin: 1rem 0;
  opacity: .7;
  transition: all 0.3s ease;
  &:hover{
    opacity: 1;
    scale: 1.1;
    transition: all 0.3s ease;
  }
}

.link {
  text-decoration: none;
}

.img{
  max-width: 50%;
  border-radius: 10px;
}

.text-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  max-width: 50%;
  min-height: 80%;
  padding: 0 20px;
}

.text-card p{
  padding: 10px 5px;
  background-color: #03001C;
  border-radius: 10px;
}

.text-card h1{
  background-color: #301E67;
  padding: 5px 5px;
  border-radius: 10px;
}

@keyframes delayAnimation {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@media(max-width:500px){
  .projectCard{
    height: 100%;
    padding: 10% 0;
  }
  .card-container{
    width: 200px;
    height: 200px;
    margin: 7% 0;
  }
  .card .front-content p{
    font-size: 21px;
  }
  .card .content{
    justify-content:flex-start;
    gap: 3px;
  }
  .card .content .heading{
    font-size: 27px;
  }
  .card .content p{
    font-size: 12px;
  }
}